*{
    margin:0px;
}
body{
    background: rgb(215, 215, 215);
    overflow-x:hidden;
}   
#img1{
    width:100vw;
}
#sch-container{
    position: relative;
    width:950px;
    border-top:14px solid black;
    border-right:14px solid black;
    height:2660px;
}
.blocks{    
    width:176px;
    border-left: 14px solid black;
    border-bottom: 14px solid black;
    height:176px;
    position:absolute;
    text-align: center;
    font-size:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}
#info-container{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:600;
    height:80.59px;
}
#mark1{
    position:absolute;
    display:none;
    background-color: rgb(0, 113, 157);
    z-index:1;
    width:176px;
    height:10px;
}
